<div class="row">
    <h1>Hard & Soft Skills</h1>
    <div class="text-center clo-sm-4 col-md-4 col-md-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'/assets/html.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'hotpink'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center clo-sm-4 col-md-4 col-md-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'/assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'hotpink'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center clo-sm-4 col-md-4 col-md-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'/assets/git.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'hotpink'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center clo-sm-4 col-md-4 col-md-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'/assets/idioma.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'hotpink'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center clo-sm-4 col-md-4 col-md-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'/assets/grupal.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'hotpink'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
    <div class="text-center clo-sm-4 col-md-4 col-md-4">
        <circle-progress
        [percent]="85"
        [radius]="80"
        [imageSrc]="'/assets/js.png'"
        [showImage]="true"
        [imageHeight]="70"
        [imageWidth]="70"
        [showSubtitle]="false"
        [titleFontSize]="'2em'"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="4"
        [outerStrokeColor]="'hotpink'"
        [innerStrokeColor]="'white'"
        [animation]="true"
        [animationDuration]="500"
        > </circle-progress>
    </div>
</div>