<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li><h2>Ingeniería en Informática</h2> - 
            <h4>2021</h4></li>
            <p>Completar ...</p>
        </ul>
        <ul>
            <li><h2>Argentina Programa</h2> - <h3>Desarrollador FrontEnd y BackEnd</h3> - 
            <h4>2022 - Actualidad</h4></li>
            <p>Completar ...</p>
        </ul>
        <ul>
            <li><h2>Educación 3</h2> - 
            <h4>(Años)</h4></li>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, iste nulla, maiores aliquid velit fugiat harum ipsum atque laboriosam voluptatem eveniet, nobis distinctio deleniti alias obcaecati at asperiores molestias unde!</p>
        </ul>
    </div>
</div>