<div class="row">
    <h1>Expereiencia Laboral</h1>
    <div class="col-lg-12">
        <ul>
            <li><h2>Brizziano Empanadas</h2> - 
            <h4>(Enero - Marzo 2020)</h4></li>
            <p>Atención al Cliente, Preparación de Pedidos, Cobro de Pedidos</p>
        </ul>
        <ul>
            <li><h2>Coto</h2> - <h3>Repositor</h3> - 
            <h4>(Septiembre - Marzo 2020)</h4></li>
            <p>Repositor, Franquero, Manejo de Mercadería, Apoyo Temporal</p>
        </ul>
        <ul>
            <li><h2>Ocasa</h2> - <h3>Operario</h3> - 
            <h4>(Junio - Agosto 2020)</h4></li>
            <p>Operario en Linea, Embalaje de Artículos y Productos, Apoyo Temporal</p>
        </ul>
        <ul>
            <li><h2>Roberto Pasmanter SA</h2> - <h3>Operario</h3> - 
            <h4>(Agosto 2018 - Febrero 2020)</h4></li>
            <p>Operario en línea de producción farmacéutica-cosmética, Uso de Apiladores Tareas de Envasado, Operario de Maquina Inyectora, Tareas de Mantenimiento</p>
        </ul>
    </div>
</div>